
body{
    background-color: antiquewhite;
}
.hihi{
   color: rgb(210, 42, 30);
   position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
   
  
}
.dfg {
    position:relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.ssss{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(210, 42, 30);
}
.pppp{
  position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(210, 42, 30);
}
.qwe{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ert{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-footer {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 222, 222);
    border: none;
    box-shadow: 5px 4px 8px rgb(153, 110, 110);
    position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
}